.movie {
  position: relative;
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
  width: 510px;
  height: 280px;
}
.description__date,
.description__text,
.description__title {
  margin: 0;
}
.description__genre {
  display: flex;
  flex-wrap: wrap;
}
.movie__description {
  height: 280px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.description__rate {
  margin-top: auto;
  margin-bottom: 5px;
}
